.login {
  overflow: hidden;
  .box {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .img {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .login-button {
    width: 80%;
    background-color: $bg-theme-color;
    border-color: $bg-theme-color;
    color: #fff;
    margin-top: 40px;
  }
}
