.header {
  background-color: #242424;
  overflow: hidden;
  & ::after {
    border-color: transparent;
  }

  .banner {
    overflow: hidden;
    margin:10px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
    .banner-img {
      height: 100%;
      width: 100%;
    }
    .icon {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px 10px;
      border-top-left-radius: 10px;
    }
  }
}
