@import "../../common/css/common.scss";
.new-music {
  background-color: $bg-color;
  overflow: hidden;
  .title {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    margin: 0 20px;
    .more {
      color: #b5b5b5;
      display: flex;
      flex: 0 30%;
      justify-content: space-between;
    }
    .active {
      color: #fff;
    }
  }
  .music {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    .music-swiper {
      height: 350px;
      .item {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 20px;
        .info {
          display: flex;
          align-items: center;
          height: 33%;
          .name {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 20px;
            height: 100%;
          }
        }
      }
      .item-img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
      }
    }
    .icon {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
