@import "../../common/css/common.scss";
.new-music {
  background-color: $bg-color;
  overflow: hidden;
  .title {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    margin: 0 20px;
    .more {
      color: #b5b5b5;
      display: flex;
      flex: 0 30%;
      justify-content: space-between;
    }
    .title-active {
      color: #fff;
    }
  }
  .box {
    position: relative;
    height: 400px;
    width: 100%;
    .music {
      width: 100%;
      overflow: hidden;
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;
      transform: translate3d(-100%, 0, 0);
      .icon {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    .disc {
      transition: all 0.3s;
      transform: translate3d(100%, 0, 0);
    }
    .active {
      transform: translate3d(0, 0, 0);
    }
    .music-swiper {
      height: 400px;
      .item {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        .info {
          display: flex;
          align-items: center;
          height: 33%;
          .name {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 20px;
            height: 100%;
          }
        }
      }
      .item-img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
      }
    }
  }
}
