body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
}
#app {
}
.none {
  display: none;
}
.weui-tabbar__item {
  span {
    border-radius: 50%;
    border: 5px solid transparent;
  }
}
.weui-bar__item_on {
  span {
    background-color: #e61607;
  }
}
.header-search.at-search-bar {
  background-color: transparent;
  .at-search-bar__input-cnt {
    background-color: #484848;
    .at-icon-search {
      color: #fff;
    }
    .weui-input {
      color: #fff;
    }
  }
}
